<div class="row" id="main">
<div class="col-sm-12 col-md-12 well" id ="content">
<h3>What would you like to sell?   </h3>
<input id= "itemName" type="text" />
<br>
<br>
<div class="form-row">
    <div class="form-group col-md-4">
        <h6>Item type:</h6>
            <select id="iCategory" name = "condition"class="form-control">
                <option selected>Choose...</option>
                <option>Videogame</option>
                <option>Computer</option>
                <option>Accesory</option>
            </select>
        </div>
    <div class="form-group col-md-4">
    <h6>Condition:</h6>
    <select id="iCondition" name = "condition"class="form-control">
        <option selected>Choose...</option>
        <option>New</option>
        <option>Used</option>
    </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
    <h6>Quantity:  <input id = "stock" type="number" value="1"/> </h6>
    </div>
    <div class="form-group col-md-4">
    <h6>Price: $<input  id ="price" type="number" value="1"/></h6>
    </div>
  </div>
  <h6>Picture Url: <input id ="img" type="text" /></h6>
<button id="add" (click)="addItem()">List it</button>

</div>
</div>