<div *ngIf="item">
    <button id = "back" (click)="goBack()">Go Back</button>

<div class="col-sm-12 offset-sm-12">
<div class="row" id="main">
    <div class="form-group col-md-6">
    <img id ="pic" src = "{{item.image}}">
    </div>
    <div class="form-group col-md-6">
    <h3> {{ item.itemName | uppercase}}</h3>
    <br>
    <h6>Item Raking: {{ item.popularity }} /10</h6>
    <hr>
    <h6>Condition: {{ item.condition }}</h6>
    <br>
    <h6>Quantity:  <input type="text" value="1"/>  {{ item.stock }} Available</h6>
    <br>

    <div class="module item">
    <table>
    <tr>
      <td>
          <h5>Price: ${{ item.price }}</h5>
          <button id="cart" class = "button2" (click)="addToCart()">Add to Cart</button>

      </td>
      
    </tr>
  </table>
    </div>
  </div>

  </div>
</div>
</div>
