<h2>Login</h2>
<div id="parent">
  <!-- <form class="form-signin"> -->
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="username" class="sr-only">Username</label>
  <input type="text" id="username" name ="username" class="form-control" placeholder="Username" required="" autofocus="">
  <br>
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
  <div class="checkbox mb-3">
 
  </div>
  <button id = "button1" (click)="getloginId()">Login</button>
  <button id = "button1"  routerLink="/signup">Sign-up</button>
  <!-- </form> -->
</div>